.card {
	background-color: #00292d;
}

.field {
	background-color: #FFF;
}

::placeholder {  /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: red;
}